
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutTrangChu.cshtml";
}





    <div class="roll-slider" data-auto="true" data-effect="slide" data-direction="horizotal">
        <div class="flexslider">
            <ul class="slides">
                <li>
                    <img src="~/Content/images/image2.jpeg" alt="image" class="roll-zoBackground" style="padding-top: 90px;">                 
                </li>              
            </ul>
        </div>
    </div><!-- /.roll-slider -->






@*chat popup    END*@
