@model IEnumerable<NienLuan2.Models.KETQUA_XX>

@{
    ViewBag.Title = "KetQua";
    Layout = "~/Views/Shared/_LayoutTrangChu.cshtml";
}
<div>
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-table"></i>
            Kết quả xét xử


        </div>

        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" cellspacing="0">
                    <tr>
                        <th>
                            STT
                        </th>
                        <th>
                            Tên vụ án
                        </th>
                        <th>
                            Lần xét xử
                        </th>
                        <th>
                            Ngày xét xử
                        </th>
                        <th>
                            Kết quả
                        </th>
                    </tr>
                    @{
                        int count = 1;
                    }
                    @foreach (var item in Model)
            {
                        <tr>
                            <td>

                                @count
                                @{
                                    count++;
                                }

                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.XETXU.HOSO_VUAN.Ten_VuAn)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.XETXU.Lan_XetXu)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.XETXU.Ngay_XetXu)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.KetQua_XX)
                            </td>

                        </tr>
                                    }

                </table>
            </div>
            </div></div>
    </div>
