@{
    ViewBag.Title = "MauDon";
    Layout = "~/Views/Shared/_LayoutTrangChu.cshtml";
}

@model PagedList.IPagedList<NienLuan2.Models.MAUDON>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" />


<h2>Danh sách mẫu đơn</h2>


<table class="table"></table>

<div>
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-table"></i>
            <b>Danh sách mẫu đơn</b>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" cellspacing="0">
                    <tr>
                        <th scope="col">STT</th>
                        <th scope="col">Tên mẫu đơn</th>
                        <th scope="col">Tải về</th>
                    </tr>
                    @{
                        int count = 1;
                    }
                    @foreach (var item in Model)
            {
                        <tr>
                            <td>
                                @count
                                @{
                                    count++;
                                }
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TenMauDon)
                            </td>
                            <td>
                                <a href="@item.Link_MD">
                                    <i class="fa download">Download</i>
                                </a>
                            </td>

                        </tr>
                                    }

                </table>
            </div>
        </div>
    </div>
</div>
